@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"), local(Roboto-ThinItalic), url(//fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzAdKw.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzAdKQ.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local(Roboto-LightItalic), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsA.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsI.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local(Roboto-Italic), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzY.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzQ.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local(Roboto-MediumItalic), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsA.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsI.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local(Roboto-BoldItalic), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsA.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsI.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: local("Roboto Black Italic"), local(Roboto-BlackItalic), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc6CsA.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc6CsI.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local(Roboto-Thin), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzY.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzQ.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local(Roboto-Light), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc8.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local(Roboto), local(Roboto-Regular), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxO.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local(Roboto-Medium), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc8.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc-.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local(Roboto-Bold), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc8.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc-.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local(Roboto-Black), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc8.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc-.woff) format("woff");
}
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

textarea {
  outline: none;
}

textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

.container {
  *zoom: 1;
}

.container:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}

.main {
  position: relative;
  float: left;
  width: 100%;
}

.main__body {
  position: relative;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__title {
  position: relative;
  width: 100%;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 100px;
}

.main__descr {
  position: relative;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.main__descr-link {
  color: #2196f3;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__fields-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 22px;
}

.main__field {
  position: relative;
  width: 30%;
  background-color: #f7f7fa;
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__field--mod {
  background-color: #eaeaee;
  border: 2px solid transparent;
}

.main__field--mod:hover {
  border: 2px solid #2196f3;
}

.main__field-label {
  position: relative;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  opacity: 0.75;
  color: #27252a;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.main__field-label--mod {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  color: #27252a;
}

.main__field-input {
  position: relative;
  width: 90%;
  border: none;
  background-color: transparent;
}

.main__color {
  color: #2196f3;
}

.main__border {
  border: 2px solid #2196f3;
}

.main__textarea-wrap {
  position: relative;
  width: 100%;
  background-color: #f7f7fa;
  border-radius: 4px;
  margin-top: 22px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__textarea-label {
  position: relative;
  width: 100%;
  color: #27252a;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.main__textarea {
  position: relative;
  width: 100%;
  resize: none;
  background-color: transparent;
  border: none;
}

.main__buttons-group {
  position: relative;
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 25px;
}

.main__submit {
  position: relative;
  border: none;
  background-image: -webkit-linear-gradient(45deg, #00a1f9 0%, #008dfe 100%), -webkit-linear-gradient(bottom, black 0%, white 100%);
  background-image: -o-linear-gradient(45deg, #00a1f9 0%, #008dfe 100%), -o-linear-gradient(bottom, black 0%, white 100%);
  background-image: linear-gradient(45deg, #00a1f9 0%, #008dfe 100%), linear-gradient(to top, black 0%, white 100%);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.13);
  color: white;
  padding: 10px 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__reset {
  position: relative;
  border: none;
  background-color: #e5e9ef;
  border-radius: 4px;
  color: black;
  padding: 10px 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__callback {
  position: relative;
  width: 100%;
}

.main__notification {
  position: relative;
  width: 100%;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 100px;
}

.main__warning {
  position: relative;
  width: 100%;
  margin-top: 35px;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__warning-icon {
  position: relative;
  float: left;
  width: 10%;
  margin-top: 40px;
  margin-bottom: 35px;
  padding-left: 30px;
}

.main__warning-title {
  position: relative;
  width: 100%;
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px;
}

.main__warning-descr {
  position: relative;
  width: 100%;
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.main__socials-wrap {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 100px;
}

.main__social {
  position: relative;
  width: 22%;
}

.main__social-top {
  position: relative;
  width: 100%;
  height: 64px;
  background-color: white;
  border: 8px solid #fcfcfc;
  border-radius: 4px 4px 0px 0px;
  -webkit-box-shadow: 0 3px 5.9px 0.1px rgba(0, 0, 0, 0.09);
  box-shadow: 0 3px 5.9px 0.1px rgba(0, 0, 0, 0.09);
}

.main__social-img {
  position: absolute;
  top: -30px;
  left: 38%;
  overflow: hidden;
  width: 54px;
  height: 54px;
}

.main__social-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 50%;
}

.main__social-title {
  position: relative;
  width: 100%;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}

.main__social-down {
  position: relative;
  width: 100%;
  height: 118px;
  background-color: #f4f4f6;
  border-radius: 0px 0px 4px 4px;
}

.main__box {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.main__social-button {
  position: relative;
  width: 100%;
  background-color: #e1e1e3;
  border-radius: 4px;
  padding: 10px 40px;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.main__social-descr {
  position: relative;
  float: left;
  width: 80%;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__social-icon {
  position: relative;
}

.main__social-sub-descr {
  position: relative;
  float: left;
  width: 80%;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.warning {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
  opacity: 0.37;
  color: white;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.13);
}

.filter {
  position: relative;
  width: 20%;
  font-size: 21px;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  opacity: 0.6;
  cursor: pointer;
}

.filter:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  position: relative;
  padding: 0 0 25px 0;
  cursor: pointer;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 27px;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 2px solid grey;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.checkbox input:checked + .checkbox__text:before {
  background-image: url("../img/checkbox.png");
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.dot {
  position: relative;
}

.dot:before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  left: 50px;
  top: 33px;
  background-image: url("../img/dot.png");
  background-repeat: no-repeat;
}

/*# sourceMappingURL=styles.css.map */
