section.main
    .container
        .main__body
            h1.main__title
                | Основная информация

            p.main__descr
                | Sed ut perspiciatis,
                a(href="#").main__descr-link
                    | unde omnis iste
                | natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo
                | inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. nemo enim ipsam voluptatem,
                | quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur.


            form.main__callback
                .main__fields-wrap
                    #field.main__field
                        label.main__field-label#label
                            | Название группы

                        input(type="text").main__field-input

                    .main__field
                        label.main__field-label
                            | ФИО ответственного

                        input(type="text" value="Михайлов Игорь Петрович").main__field-input

                    .main__field.main__field--mod
                        label.main__field-label.main__field-label--mod
                            | Email для входа

                        input(type="text" placeholder="Введите название").main__field-input

                .main__textarea-wrap
                    label.main__textarea-label
                        | Описание рабочей группы

                    textarea(placeholder="Введите краткое и емкое описание для рабочей группы").main__textarea

                .main__buttons-group
                    input(type="submit" value="Сохранить").main__submit

                    input(type="reset" value="Отмена").main__reset

            h3.main__notification
                | Управление уведомлениями

            .main__warning
               span.main__warning-icon
                    i.material-icons.warning
                        | warning

               p.main__warning-title
                    | Внимание!

               p.main__warning-descr
                    | Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    | totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
                    | dicta sunt, explicabo. nemo enim ipsam voluptatem.

            .main__socials-wrap
                .main__social
                    .main__social-top
                        .main__social-img
                            img(src="img/Telegram.png")

                        p.main__social-title
                            | Telegram

                    .main__social-down
                        .main__box
                            a(href="#").main__social-button Отключить аккаунт

                        label.checkbox
                            input(type="checkbox")
                            p.checkbox__text
                                | Только служебные

                .main__social
                    .main__social-top
                        .main__social-img
                            img(src="img/Telegram.png")

                        p.main__social-title
                            | Telegram

                    .main__social-down
                        .main__box
                            a(href="#").main__social-button Отключить аккаунт

                        label.checkbox
                            input(type="checkbox")
                            p.checkbox__text
                                | Только служебные

                .main__social
                    .main__social-top
                        .main__social-img
                            img(src="img/Telegram.png")

                        p.main__social-title
                            | Telegram

                    .main__social-down
                        .main__box
                            a(href="#").main__social-button Отключить аккаунт

                        label.checkbox
                            input(type="checkbox")
                            p.checkbox__text
                                | Только служебные

                .main__social
                    .main__social-top
                        .main__social-img
                            img(src="img/Telegram.png")

                        p.main__social-title
                            | Telegram

                    .main__social-down
                        .main__box
                            a(href="#").main__social-button Отключить аккаунт

                        label.checkbox
                            input(type="checkbox")
                            p.checkbox__text
                                | Только служебные










